* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}
h1 {
  color: #338dff;
  font-size: 80px;
  font-style: italic;
  position: absolute;
  top: 795px;
  left: -170px;
  width: 510px;
  text-align: right;
  transform: rotate(-90deg);
  letter-spacing: 40px;
}
