nav {
  height: 50px;
  //   background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  a {
    text-decoration: none;
    color: #338dff;
  }
}
